:root {
   /* --purple: #5921E6  ;
    --green : #AFEC33;   93c927*/
    --purple : #3f17a4;
    --green :  #96cb2d ;
    --blurPurple : #3f17a412;
    --blurGreen : #8dd3001c;
    --blurOrange : #ffa60041;
    --blurBlue : #00bfff20;
    --brown : #5A341C;

}
@font-face {
    font-family: 'Dot';
    src: url('@root/assets/fonts/DotsAllForNow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Minecraft';
    src: url("@root/assets/fonts/Minecraftia-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Goonies';
    src: url("@root/assets/fonts/Goonies.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }